.Twitter {
  color: #006aff; }

.Instagram {
  color: #fb00de; }

.Youtube {
  color: red; }

.Twitch {
  color: purple; }

.Mail {
  color: #eaa505; }

.body__contacto {
  background-image: url(../imagenes/fONDO.webp); }

.h3_contac {
  display: flex;
  justify-content: start;
  color: gold;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
  font-size: x-large; }

.nosotros {
  color: rgba(255, 255, 255, 0.678);
  padding-top: 1.5pc;
  padding-bottom: 1.5pc;
  text-align: center;
  border-top: double white;
  border-left: double white;
  border-right: double white; }

.redes {
  color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .redes li {
    background-color: black; }

.prioridades {
  color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: formulario; }

.redes__titulo {
  color: rgba(54, 54, 190, 0.678); }

.prio__titulo {
  color: rgba(54, 54, 190, 0.678); }

.love {
  color: white;
  text-align: center;
  border-left: double white;
  border-right: double white;
  border-bottom: double white;
  margin-bottom: 20px; }

.Fcontact {
  color: #6009ee;
  background-color: gold; }

.fieldset {
  color: rgba(12, 12, 194, 0.692);
  background-color: gold;
  background-image: url(../imagenes/SW_Toys.png); }

.terms {
  color: gold; }

.aceptar {
  color: brown; }

.domicilio {
  color: gold;
  background-color: blue;
  background-image: url(../imagenes/Empire-.png); }

.body__contacto {
  background-image: url(../imagenes/fONDO.webp);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-areas: "head_cont" "info" "info" "info" "field" "domi" "termo" "termo" "footer"; }

.termo {
  grid-area: termo;
  border-top: double gold;
  border-left: double gold;
  border-right: double gold;
  border-bottom: double gold; }

.field {
  grid-area: field; }

.domi {
  grid-area: domi; }

.head_cont {
  grid-area: head_cont; }

.info {
  grid-area: info; }

.encabezado__menu {
  list-style: none;
  font-size: 0;
  transform: translate(-8px, -8px);
  background-color: red; }

li {
  display: inline-block;
  padding-left: 60px; }

a {
  font-size: 18px;
  font-weight: 300px;
  text-decoration: none;
  color: red; }
  a:hover {
    font-weight: 700;
    color: red; }

@media screen and (max-width: 500px) {
  .body__contacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "head_cont  head_cont" "info" "info" "info" "field" "field" "termo" "termo" "footer"; } }

.footer_cont {
  background-color: #5c5c5c; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

h1 {
  color: gold;
  font-style: italic;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  color: gold; }

.hr {
  color: red;
  font-weight: 500; }

footer {
  display: flex;
  flex-direction: row;
  grid-area: footer;
  margin: 10px; }

.footer_text {
  background-color: black;
  color: white; }

.contenedor {
  background-image: url(../imagenes/AAAAAAAAAA.jpg); }

.header, .head_cont {
  height: 80px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: red;
  z-index: 10000;
  padding-left: 120px;
  padding-right: 120px;
  box-shadow: 0px 1px 20px 0px #676669;
  grid-area: header; }

.nav-item li {
  color: gold; }

.menu {
  grid-area: menuu;
  list-style: none;
  font-size: 0;
  font-style: italic;
  margin-top: 30px;
  color: red; }

li {
  display: inline-block;
  padding-left: 60px; }

a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: red; }
  a:hover {
    font-weight: 700;
    color: red; }

.table {
  background-color: #ff4400;
  font-style: italic; }

.main {
  grid-area: main; }

.h3_contac {
  display: flex;
  justify-content: start;
  color: gold;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
  font-size: x-large; }

h3 {
  display: flex;
  justify-content: center;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: gold;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
  font-size: 40px; }

.empleados {
  display: flex;
  justify-content: start; }

.parrafoAzul {
  color: white;
  font-weight: lighter;
  font-family: 'Barlow', sans-serif;
  line-height: 1.5;
  font-size: 20px;
  margin: 50px 10pc 5pc 10pc;
  padding: 50px;
  border-style: double;
  grid-area: parrafoAzul; }

.imagenes {
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "trop  gvader" "ckenobi   cmando";
  justify-items: center;
  border-top: double red; }

@media screen and (min-width: 320px) {
  .contenedor {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "main" "imagenes" "footer"; }
  .imagenes {
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "trop" "gvader"          "ckenobi" "cmando";
    justify-items: center;
    border-top: double red; } }

@media screen and (max-width: 720px) {
  .contenedor {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "main" "imagenes" "footer"; }
  .imagenes {
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "trop" "gvader" "ckenobi" "cmando";
    justify-items: center;
    border-top: double red; } }

.vader {
  grid-area: vader;
  position: relative;
  background-color: red; }
  .vader p {
    color: gold; }

@media screen and (max-width: 1024px) {
  .contenedor {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "main" "imagenes" "footer"; }
  .imagenes {
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "trop gvader" "ckenobi cmando";
    justify-items: center;
    border-top: double red; } }

.cmando {
  margin-top: 100px;
  grid-area: cmando; }

.ckenobi {
  margin-top: 100px;
  grid-area: ckenobi; }

.gvader {
  grid-area: gvader; }

.trop {
  grid-area: trop; }

.video {
  justify-content: center; }

.video2 {
  justify-content: center; }

.video3 {
  justify-content: center; }

.card {
  background-color: black;
  margin-top: 10px;
  grid-area: trop; }

.card2 {
  margin-top: 10px;
  grid-area: gvader; }

.card3 {
  margin-top: 10px;
  grid-area: ckenobi; }

.card4 {
  margin-top: 10px;
  grid-area: cmando; }

.card-body {
  background-color: black; }

.card-img-top {
  background-color: black;
  height: 215px;
  width: 155px; }
  .card-img-top .ae {
    background-color: black;
    height: 300px;
    width: 155px; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

.contenedor {
  background-image: url(../imagenes/fONDO.webp); }

.coleccion {
  color: gold; }

.historia__titulo {
  color: gold; }

.historia {
  color: #3c3cb9; }

.Amsrillo__catalogo {
  color: gold;
  margin-top: 20px;
  display: flex;
  justify-content: center; }

.hr {
  color: #c8ff00; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

.footer_text {
  background-color: #5c5c5c; }

.header, .head_cont {
  grid-area: header; }

.footer__arte {
  background-color: #5c5c5c;
  grid-area: footer; }

.catalogo {
  grid-area: catalogo;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "ahsoka  power" "Tano Power" "grievous  boba" "Ggriev Cboba" "Vader  Hoth" "Dvader Bhoth"; }

.Tano {
  position: relative;
  color: red;
  grid-area: Tano; }
  .Tano p {
    color: gold; }

.ahsoka {
  grid-area: ahsoka; }

.Cboba {
  position: relative;
  grid-area: Cboba; }
  .Cboba p {
    color: gold; }

.boba {
  grid-area: boba; }

.Dvader {
  grid-area: Dvader; }
  .Dvader p {
    color: gold; }

.Vader {
  grid-area: Vader; }

.Power {
  grid-area: Power; }
  .Power p {
    color: gold; }

.power {
  grid-area: power; }

.Ggriev {
  grid-area: Ggriev; }
  .Ggriev p {
    color: gold; }

.grievous {
  grid-area: grievous; }

.Bhoth {
  grid-area: Bhoth; }
  .Bhoth p {
    color: gold; }

.Hoth {
  grid-area: Hoth; }

.CA {
  height: 200px;
  width: 200px; }

.DA {
  height: 200px;
  width: 200px; }

.CTP {
  height: 200px;
  width: 200px; }

.Kashyyyk {
  height: 200px;
  width: 200px; }

.IA {
  height: 200px;
  width: 200px; }

.hoth {
  height: 200px;
  width: 200px; }

@media screen and (max-width: 320px) {
  .contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "catalogo" "footer"; }
  .catalogo {
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto repeat(11);
    grid-template-areas: "ahsoka" "Tano" "power" "Power" "grievous" "Ggriev" "boba" "Cboba" "Vader" "Dvader" "Hoth" "Bhoth"; } }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

.imagenes_sw {
  grid-area: imagenessw;
  width: 100%;
  height: 600px;
  margin-bottom: 30pc;
  inset-block: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "Ahas IG11" "Ivader HasKe" "Maul Rex"; }

.header__stwrs {
  height: 80px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: red;
  z-index: 10000;
  padding-left: 120px;
  padding-right: 120px;
  box-shadow: 0px 1px 20px 0px #676669;
  grid-area: heade; }

.encabezado_menu {
  grid-area: menusw;
  list-style: none;
  font-size: 0;
  font-style: italic;
  margin-top: 30px;
  color: red; }

li {
  display: inline-block;
  padding-left: 60px; }

a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: red; }
  a:hover {
    font-weight: 700;
    color: red; }

.footer_text {
  grid-area: foot; }

.contenedor__starwars {
  background-image: url(../imagenes/fONDO.webp); }

@media screen and (max-width: 480px) {
  .contenedor__starwars {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "heade" "imagenessw" "foot"; }
  .imagenes_sw {
    grid-area: imagenessw;
    width: 100%;
    height: 600px;
    margin-bottom: 30pc;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "Ahas IG11" "Ivader HasKe" "Maul Rex";
    justify-items: center; } }

.carta {
  background-color: black;
  margin-top: 20px;
  justify-items: center; }

.Ahsoka {
  grid-area: Ahas; }

.IG11 {
  grid-area: IG11; }

.Ivader {
  grid-area: Ivader; }

.HasKe {
  grid-area: HasKe;
  width: 200px;
  height: 200px; }

.Maul {
  grid-area: Maul; }

.Rex {
  grid-area: Rex; }
