.body__contacto {
  background-image: url(../imagenes/fONDO.webp); }

.h3_contac {
  display: flex;
  justify-content: start;
  color: gold;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
  font-size: x-large; }

.nosotros {
  color: rgba(255, 255, 255, 0.678);
  padding-top: 1.5pc;
  padding-bottom: 1.5pc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: double white;
  border-left: double white;
  border-right: double white; }

.redes {
  color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .redes li {
    background-color: black; }

input {
  margin: 10px; }

.prioridades {
  color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: formulario; }

.redes__titulo {
  color: rgba(54, 54, 190, 0.678); }

.prio__titulo {
  color: rgba(54, 54, 190, 0.678); }

.love {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: double white;
  border-right: double white;
  border-bottom: double white;
  margin-bottom: 20px; }

.fieldset1 {
  margin: 0 20%;
  color: gold;
  background-color: grey;
  background-image: url(../imagenes/Empire-.png);
  background-repeat: no-repeat; }
  .fieldset1 .Forma {
    display: flex;
    flex-direction: column;
    align-items: center; }

.terms {
  color: gold; }

.aceptar {
  color: brown; }

.domicilio {
  margin: 0 20%;
  color: gold;
  background-color: red;
  background-image: url(../imagenes/SW_Toys.png); }
  .domicilio .Forma {
    display: flex;
    flex-direction: column;
    align-items: center; }

.body__contacto {
  background-image: url(../imagenes/AAAAAAAAAA.jpg);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-areas: "head_cont" "info" "info" "info" "field" "domi" "termo" "termo" "footer"; }

.termo {
  grid-area: termo;
  border-top: double gold;
  border-left: double gold;
  border-right: double gold;
  border-bottom: double gold; }

.field {
  grid-area: field; }

.domi {
  grid-area: domi; }

.info {
  grid-area: info; }

@media screen and (max-width: 500px) {
  .body__contacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "head_cont  head_cont" "info" "info" "info" "field" "field" "termo" "termo" "footer"; } }

.footer_cont {
  background-color: #5c5c5c; }

.buton {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.reset {
  background-color: red; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

html {
  font-size: 62, 5%; }

h1 {
  color: gold;
  font-style: italic;
  text-align: center;
  font-size: 55px;
  color: gold; }

.hr {
  color: red;
  font-weight: 500; }

footer {
  display: flex;
  flex-direction: row;
  grid-area: footer;
  margin: 10px; }

.footer_text {
  background-color: black;
  color: white; }

.contenedor {
  background-image: url(../imagenes/AAAAAAAAAA.jpg); }

.R2D2 {
  width: 50px; }

.header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem; }

.nav-item {
  display: flex;
  align-items: center;
  padding: .25rem .75rem; }
  .nav-item a {
    outline: none;
    text-decoration: none;
    color: gold; }

.table {
  background-color: #ff4400;
  font-style: italic; }

.main {
  grid-area: main; }

.video {
  justify-items: center; }

.h3_contac {
  display: flex;
  justify-content: start;
  color: gold;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
  font-size: x-large; }

h3 {
  display: flex;
  justify-content: center;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: gold;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
  font-size: 40px; }

.empleados {
  display: flex;
  justify-content: start; }

.parrafoAzul {
  color: white;
  font-weight: lighter;
  font-family: 'Barlow', sans-serif;
  line-height: 1.5;
  font-size: 20px;
  margin: 50px 10pc 5pc 10pc;
  padding: 50px;
  border-style: double;
  /* grid-area: parrafoAzul; */ }

.imagenes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

@media screen and (max-width: 425px) {
  .parrafoAzul {
    margin: 15% 0; } }

.cmando {
  margin-top: 100px; }

.ckenobi {
  margin-top: 100px; }

.videosContenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.card {
  background-color: black;
  margin-top: 10px; }

.card2 {
  margin-top: 10px; }

.card3 {
  margin-top: 10px; }

.card4 {
  margin-top: 10px; }

.card-body {
  background-color: black; }

.card-img-top {
  background-color: black;
  height: 215px;
  width: 155px; }
  .card-img-top .ae {
    background-color: black;
    height: 300px;
    width: 155px; }

@media (max-width: 768px) {
  .imagenes {
    flex-direction: column;
    align-items: center; }
  .videosContenedor {
    flex-direction: column;
    align-items: center; }
    .videosContenedor .video {
      margin: 5px 0; } }

.varriba {
  outline: none;
  text-decoration: none;
  color: red; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

.contenedor_nosotros {
  background-image: url(../imagenes/AAAAAAAAAA.jpg); }

.coleccion {
  color: gold; }

.Us {
  color: gold;
  font-style: italic;
  text-align: center;
  font-size: 30px;
  color: gold; }

.historia__titulo {
  color: gold; }

.historia {
  color: #3c3cb9; }

.Amsrillo__catalogo {
  color: gold;
  margin-top: 20px;
  display: flex;
  justify-content: center; }

.hr {
  color: #c8ff00; }

.foto {
  -ms-flex-align: center;
  height: 300px;
  width: 300px; }

.foto2 {
  align-items: center;
  height: 300px;
  width: 300px; }

.foto_1 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.foto_2 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

.Amsrillo__catalog {
  color: gold; }

.footer_text {
  background-color: #5c5c5c; }

.header {
  grid-area: header_arte; }

.footer__arte {
  background-color: #5c5c5c;
  grid-area: footer_arte; }

.contenedor_arte {
  background-image: url(../imagenes/AAAAAAAAAA.jpg); }

.catalogo {
  grid-area: catalogo;
  justify-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "ahsoka  power" "Tano Power" "grievous  boba" "Ggriev Cboba" "Vader  Hoth" "Dvader Bhoth"; }

.Tano {
  position: relative;
  color: red;
  grid-area: Tano; }
  .Tano p {
    color: gold; }

.ahsoka {
  grid-area: ahsoka; }

.Cboba {
  position: relative;
  grid-area: Cboba; }
  .Cboba p {
    color: gold; }

.boba {
  grid-area: boba; }

.Dvader {
  grid-area: Dvader; }
  .Dvader p {
    color: gold; }

.Vader {
  grid-area: Vader; }

.Power {
  grid-area: Power; }
  .Power p {
    color: gold; }

.power {
  grid-area: power; }

.Ggriev {
  grid-area: Ggriev; }
  .Ggriev p {
    color: gold; }

.grievous {
  grid-area: grievous; }

.Bhoth {
  grid-area: Bhoth; }
  .Bhoth p {
    color: gold; }

.Hoth {
  grid-area: Hoth; }

.DA {
  height: 200px;
  width: 200px; }

@media screen and (max-width: 768px) {
  .catalogo {
    grid-area: catalogo;
    justify-items: center;
    width: 100%; }
  .Arte {
    font-size: 50px; } }

@media screen and (max-width: 425px) {
  .DA {
    width: 80%;
    height: 100%;
    margin: 0 15px; }
  .encabezado__menu {
    width: 50%;
    height: 30%; }
  .footer__arte {
    background-color: #5c5c5c;
    width: 80%;
    grid-area: footer_arte; }
  .Arte {
    font-size: 40px; } }

@media screen and (max-width: 320px) {
  .DA {
    width: 70%;
    height: 100%; }
  .Arte {
    font-size: 40px; } }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

.imagenes_sw {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-around; }

.footer_text {
  grid-area: foot; }

.contenedor__starwars {
  background-image: url(../imagenes/AAAAAAAAAA.jpg); }

@media screen and (max-width: 768px) {
  .imagenes_sw {
    flex-direction: column;
    align-items: center; } }

.carta {
  background-color: black;
  margin-top: 20px; }
