* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

h1 {
  color: gold;
  font-style: italic;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  color: gold; }

footer {
  border-bottom: double blue;
  border-top: double blue;
  border-right: double blue;
  border-left: double blue;
  display: flex;
  flex-direction: row;
  grid-area: footer;
  margin: 10px; }

.footer_text {
  color: #3c3cb9; }

.contenedor {
  background-image: url(../imagenes/fONDO.webp); }

.header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: red;
  z-index: 10000;
  padding-left: 120px;
  padding-right: 120px;
  box-shadow: 0px 1px 20px 0px #676669;
  grid-area: header; }

.nav-item li {
  color: gold; }

.menu {
  list-style: none;
  font-size: 0;
  font-style: italic;
  margin-top: 30px;
  color: gold; }
  .menu .menu li {
    display: inline-block;
    padding-left: 60px; }
  .menu .menu a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: gold; }
  .menu .menu a:hover {
    font-weight: 700;
    color: gold; }

.table {
  background-color: #ff4400;
  font-style: italic; }

.main {
  grid-area: main; }

.h3_contac {
  display: flex;
  justify-content: start;
  color: gold;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
  font-size: x-large; }

h3 {
  display: flex;
  justify-content: center;
  color: gold;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
  font-size: x-large; }

.empleados {
  display: flex;
  justify-content: start; }

.parrafoAzul {
  color: #2f68bd;
  font-style: italic;
  font-weight: bolder;
  line-height: 1.5;
  font-size: large;
  margin: 50px 10pc 5pc 10pc;
  padding: 50px;
  border-style: double;
  grid-area: parrafoAzul; }

.imagenes {
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "img1   img2" "img3   img4";
  justify-items: center;
  border-top: double red; }

.img1 {
  grid-area: img1;
  width: 150px;
  height: 200px; }

.img2 {
  grid-area: img2;
  height: 200px;
  width: 150px; }

.img3 {
  grid-area: img3;
  height: 200px;
  width: 150px; }

.img4 {
  grid-area: img4;
  width: 150px;
  height: 200px; }

@media screen and (max-width: 500px) {
  /* - - - - CONTENEDORES - - - - */
  .contenedor {
    display: grid;
    width: 100%;
    grid-template-columns: 1 auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "main" "imagenes" "footer"; }
  .imagenes {
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "img1" "img2" "img3" "img4";
    justify-items: center;
    border-top: double red; } }
