*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
html {
    font-size: 62, 5%
}


.Amsrillo__catalog{
    color: gold;

}
.footer_text{
    background-color: rgb(92, 92, 92);
}
.header{
    grid-area: header_arte;
}
.footer__arte{
    background-color: rgb(92, 92, 92);
    grid-area: footer_arte;
}
.contenedor_arte{
    background-image: url(../imagenes/AAAAAAAAAA.jpg);
  
}
.catalogo{
    grid-area: catalogo;
    justify-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto  ;
    grid-template-areas: 
    "ahsoka  power"
    "Tano Power"
    "grievous  boba"
    "Ggriev Cboba"
    "Vader  Hoth"
    "Dvader Bhoth";
}
.Tano{
    position: relative;
    color: red;
    grid-area: Tano;
    p{
        
        color: gold;
    }
}
.ahsoka{
    grid-area: ahsoka;
}
.Cboba{
    position: relative;
    grid-area: Cboba;
    p{
       
        color: gold;
    }
}
.boba{
  grid-area: boba;
}
.Dvader{

    grid-area: Dvader;
    p{
        color: gold;
    }
}
.Vader{
    grid-area: Vader;
}
.Power{
   
    grid-area: Power;
    p{
        color: gold;
    }
}
.power{
    grid-area: power;
}
.Ggriev{
 
    grid-area: Ggriev;
    p{
        color: gold;
    }
}
.grievous{
    grid-area: grievous;
}
.Bhoth{

    grid-area: Bhoth;
    p{
        color: gold;
    }
}
.Hoth{
    grid-area: Hoth;
}

.DA{
    height: 200px;
    width: 200px;
}
@media screen and (max-width:768px){
    
    .catalogo{
        grid-area: catalogo;
        justify-items: center;
        width: 100%;
}
.Arte{
    font-size: 50px;
}


}
@media screen and (max-width:425px) {

.DA{
    width: 80%;
    height: 100%;
    margin: 0 15px;
    
}
.encabezado__menu{
    width: 50%;
    height: 30%;
}
.footer__arte{
    background-color: rgb(92, 92, 92);
    width: 80%;
    grid-area: footer_arte;
}
.Arte{
    font-size: 40px;
}
}
@media screen and (max-width:320px) {

.DA{
    width: 70%;
    height: 100%;
}
.Arte{
    font-size: 40px;
}
}


