*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
html {
    font-size: 62, 5%
}

h1 {
    color: $colorPrincipal;
    font-style: italic;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    color: gold;
   
}
.hr{
    color: red;
    font-weight: 500;
}
footer{


    display: flex;
    flex-direction: row;
  grid-area: footer;
    margin: 10px;
}
.footer_text{
background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.contenedor {
    background-image: url(../imagenes/AAAAAAAAAA.jpg);

    }
    .header {
        height: 80px;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        background-color: rgb(255, 0, 0);
        z-index: 10000;
        padding-left: 120px;
        padding-right: 120px;
        box-shadow: 0px 1px 20px 0px rgb(103, 102, 105);
          grid-area: header;
        }
        .nav-item li{
         
            color: gold;
        }
        .menu {
            grid-area: menuu;
            list-style: none;
            font-size: 0;
            font-style: italic;
            margin-top: 30px;
            color: $colorSecundario; }
              li {
              display: inline-block;
              padding-left: 60px; }
                a {
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
                color: rgb(255, 0, 0); 
                         &:hover {
                         font-weight: 700;
                         color: rgb(255, 0, 0); }
            }
      .table{
        background-color: rgb(255, 68, 0);
        font-style: italic;
      }
     
.main{
grid-area: main;
}
.h3_contac{
display: flex;
justify-content: start;
    color: gold;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px; 
    font-size: x-large;

}
h3{
    display: flex;
    justify-content: center;
    font-family:  'Barlow', sans-serif; 
    font-weight:700;
        color: gold;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 100px; 
        font-size: 40px;
        

}

.empleados{
    display: flex;
    justify-content: start;
}

.parrafoAzul {
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    font-size: 20px ;
    margin:50px 10pc 5pc 10pc;
    padding: 50px;
    border-style: double;
    grid-area: parrafoAzul;
}
.imagenes{
    justify-content: center;
    width: 100%;
   
    display: grid;
   grid-template-columns: 50% 50% ;
   grid-template-rows: auto auto auto auto;
  grid-template-areas: 
  "trop  gvader"
  "trooper vader"
  "ckenobi   cmando"
  "kenobi mando";
  justify-items: center;
 
   
    border-top: double red;
}

.img1{
    @include size(150px, 200px, );
    grid-area: img1;
   
}
.img2{
    @include size(150px, 200px, );
    grid-area: img2;

}
.img3{
    @include size(150px, 200px, );
    grid-area: img3;
  
}
.img4{
    @include size(150px, 200px, );
    grid-area: img4;
   
}
.img5{
@include size(150px, 200px, );
}
.img6{
@include size(150px, 200px, );
}
.img7{
@include size(150px, 200px, );
}
.img8{
@include size(150px, 200px, );
}
.img9{
@include size(150px, 200px, );
}
.img10{
@include size(150px, 200px, );
}
.img11{
@include size(150px, 200px, );
}
.img12{
@include size(150px, 200px, );
}
@media screen and (max-width: 320px) {

    /* - - - - CONTENEDORES - - - - */

    .contenedor {
        display: grid;
        width: 100%;
        grid-template-columns: 1 auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "header"
        "main"
        "imagenes"
        "footer"
        ;
}
.imagenes{
    
            justify-content: center;
            width: 100%;
           
            display: grid;
           grid-template-columns: 100% ;
           grid-template-rows: auto auto auto auto auto auto auto auto ;
          grid-template-areas: 
          "trop"
          "trooper"
          "gvader"
          "vader"
          "ckenobi"
          "kenobi"
          "cmando"
          "mando";
          justify-items: center;
         
           
            border-top: double red;
            }
            }
            .vader{
                grid-area: vader;
                position: relative;
        
              background-color: rgb(255, 0, 0);
                p{
               color: gold;
                }
             }
             .trooper{
                 position:relative;
              
                 background-color: rgb(255, 0, 0);
                 grid-area: trooper;
                 p{
                     color: gold;
                 }
             }
             .mando{
                grid-area: mando;
                 position: relative;
             
                 background-color: rgb(255, 0, 0);
                 p{
                     color: gold;
                 }
             }
             .kenobi{
                grid-area: kenobi;
                background-color:rgb(255, 0, 0) ;
                p{
                    color: gold;
                }
             }
             .cmando{
                margin-top: 100px;
                grid-area: cmando;
             }

            .ckenobi{
                margin-top: 100px;
                grid-area: ckenobi;
            }
            .gvader{
                grid-area: gvader;
            }
            .trop{
                grid-area: trop;
            }

