*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
html {
    font-size: 62, 5%
}
.contenedor_nosotros {
    background-image: url(../imagenes/AAAAAAAAAA.jpg);
    }
.coleccion{
    color: gold;
  
}
.historia__titulo{
    color: gold;
}
.historia{
    color: rgb(60, 60, 185);
}
.Amsrillo__catalogo{
    color: gold;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.hr{
    color: rgb(200, 255, 0);
}
.foto{
     -ms-flex-align: center;
    height: 300px;
    width: 300px;
}
.foto2{
    align-items: center;
    height: 300px;
    width: 300px;
}