*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
html {
    font-size: 62, 5%
}

.imagenes_sw{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-around;
}


.footer_text{
    grid-area: foot;
}
.contenedor__starwars{
    background-image: url(../imagenes/AAAAAAAAAA.jpg);
    

}
@media screen and (max-width: 768px) {
     
    .imagenes_sw{
        flex-direction: column;
        align-items: center;
    
    }
}
.carta{
    background-color: black;
    margin-top: 20px;
}

