
$colorPrincipal: gold;
$colorSecundario :  rgb(255, 0, 0);







@mixin size($width, $height){
    width: $width;
    height: $height;
    
}

@import "contacto";
@import "index";
@import "nosotros";
@import "hot_toys";
@import "star_wars";
